/*
c1: f3efe0 BE
c2: 434242 XAM
c3: 222222 XAM DAM
c4: 22a39f XANH NGOC
*/

.item {
    width: 200px;
    height: 50px;
    background-color: #434242;
}

.feature {
    width: 100%;
    height: 200px;
    background-color: #22a39f;
    border: 2px solid #f3efe0;
}